.content {
  text-align: justify;
}

.content img :not(.table img) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .box-title {
  font-weight: bold;
}

.content .figure-title {
  display: block;
  text-align: center;
}

.content .table-title {
  font-weight: bold;
}

/*.content .figures {
  width: 80%;
}*/

.content .table {
   border-collapse: collapse;
   border: solid;
   table-layout: fixed;
}
