.content {
  text-align: justify;
}

.content .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .box-title {
  font-weight: bold;
}

.content .figure-title {
  display: block;
  text-align: center;
}

.content .table-title {
  font-weight: bold;
}

.content .table-images {
  display: block;
  margin-right: auto;
  width:100%; 
  height:100%;
}

.content .figures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  height: auto;
}
  
.content .tables {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
  width: auto;
}

.content .tables td, .tables th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content .tables tr:hover {
  background-color: #ddd;
}

.content .tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.content .tables td {
  text-align: justify;
}

.content .table9 {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: auto;
}

.content .table9 td, .table9 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content .table9 tr:hover {
  background-color: #ddd;
}

.content .table9 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.content .table9 td {
  text-align: justify;
  overflow: auto;
}

